* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  font-size: 2rem;
}

.centered {
  font-size: 1.4rem;
}
/* 
.header {
  margin-bottom: 3rem;
}

.dashboard {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.info_btn {
  font-size: 2rem;
  color: white;
  background-color: rgb(65, 63, 63);
  cursor: pointer;
}

.aboutInfo {
  text-align: center;
} */
